{% extends '/header_for_users.html' %}
{% block main %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ hello }}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="card col-sm-6 ">
        <div class="card-body">
          <h4 class="card-title">User Details</h4>
          {% for info in information %}
          <p class="card-text">{{ info.first_name }}</p>
          <p class="card-text">{{ info.last_name }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
  {% endblock %}
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Tumba IMS</span></strong>. All Rights Reserved
    </div>    
  </footer>

  <!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> 
   <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/ssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/static/assets/vendor/quill/quill.min.js"></script>
  <script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/assets/js/main.js"></script>
</body>
</html>